
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}



<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">آموزشگاه تیرداد</a></li>
        <li class="breadcrumb-item active" aria-current="page">  فعالسازی حساب کاربری</li>
    </ul>
</nav>


<div class=" alert alert-success">

    <h2>کاربر عزیز اطلاعات کاربری شما با موفقیت ویرایش شد. لطفا مجددا وارد سایت شوید.  </h2>
    <hr />  <h2>اگر ایمیل خود را تغییر دادی نیاز یک ایمیل حاوی لینک فعالسازی برای شما ارسال شده است. ایمی شده است. لطفا ایمیل جدید خود را تایید کنید.  </h2>

    <div class="link">

        <a href="/Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
    </div>
</div>

   

}

