@model TirdaadSchool.DataLayer.Entities.User.User
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container-content" style="direction:rtl; padding:20px">

    <h3>@Model.UserName  عزیز !</h3>


    <p> برای بازیابی رمز عبور خود، روی لینک زیر کلیک  کنید.   </p>
    <hr />
    <p>
        <a href="https://localhost:44324/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>