@model TirdaadSchool.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "ایجاد کلمه عبور جدید";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">آموزشگاه تیرداد</a></li>
        <li class="breadcrumb-item active" aria-current="page">ثبت نام</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess == true)
        {

            <div class="alert alert-success">

                <p class="help-block"> کلمه عبور شما با موفقیت تغییر کرد. </p>


                <div class="link">

                    <a href="/Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>
            </div>


        }


        <header><h2> ایجاد کلمه عبور جدید </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input type="hidden" asp-for="ActiveCode" name="name" value="" />

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder=" کلمه عبور جدید " aria-describedby="password">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="Repassword"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید " aria-describedby="password">
                </div>
                <span asp-validation-for="RePassword" class="text-danger"></span>




                @*<div asp-validation-summary="All" class="text-danger">   </div>*@
                <button type="submit" class="btn btn-success"> ایجاد کلمه عبور جدید </button>

            </form>
        </div>

    </div>
</main>
